{% extends 'base.html' %}

{% block content %}
<header>
    <a href="{% url 'create_account' %}">Create a new Account</a>
</header>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
