{% extends 'base.html' %}

{% block content %}
<header>
    <a href="{% url 'create_category' %}">Create a Category</a>
</header>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
